body{color:#333;font-family:"microsoft yahei";font-weight:normal;font-size:14px;outline:none;}
*{margin:0;padding:0;box-sizing: border-box;}
a,a:hover{color:#333;cursor:pointer;text-decoration:none!important;}
ul,ul li{list-style:none;margin:0;padding:0;}
.text-decoration{text-decoration:underline!important;}
.text-of{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
p{line-height: 1.8;color: #999;}
.c3{color:#333;}
.c6{color:#666;}
.c9{color:#999;}
.red{color:#ea1b23}
.fs12{font-size: 12px;}
.fs14{font-size: 14px;}
.fs15{font-size: 15px;}
.fs18{font-size: 18px;}
.mt45{margin-top:45px !important;}
.mb25{margin-bottom: 25px !important;}
.mb60{margin-bottom: 60px !important;}
.tc{text-align: center ;}
.fl{float: left;}
.fr{float: right;}
.btn{display: inline-block;
    line-height: 1.42857143;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-family: "OpenSans", "Microsoft YaHei";
    font-weight: 400;
    cursor: pointer;
    white-space: nowrap;
    transition: all .3s;
    border-radius: 0;
}
.btn.disabled{cursor: default;}
.btn-default{background-color: white; color: #000000; border:1px solid #999999}
.btn-default:hover{background-color: #ea1b23; color: #ffffff; border:1px solid #ea1b23}

.btn-white-trans{background: rgba(255, 255, 255, 0.4); color: #000000}
.btn-white-trans:hover{background: #ea1b23; color: #ffffff}
.btn-white-trans.disabled{color: #ffffff}
.btn-white-trans.disabled:hover{background: rgba(255, 255, 255, 0.4);}

.red-btn{background-color: #ea1b23;color: #FFF;}
.red-btn:hover{background: #d51018;color: #FFF;}
.btn-size18{ font-size: 18px; padding:10px 30px;}

/* bootstrap reset */
dl{margin-bottom: 0;}
dt{font-weight: 400;}
.container {
    position: relative;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container {
    width: 1170px
}
/* bootstrap reset end */

/* header */
.header{
    height: 84px;
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #fff;
    transition: all .6s cubic-bezier(.215,.61,.355,1) 0s;
    border-bottom: #f0f0f0 1px solid;
}
.header-wrap{
    padding: 20px 5px 0 5px;
    height: auto;
    transition: all .6s cubic-bezier(.215,.61,.355,1) 0s;
    background: #fff;
}
.mini .header-wrap{
    padding: 10px 5px 0 5px;
    height: 54px;
}
.header.mini{
    height: 64px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
.mini .header-wrap{

}
.header-wrap .logo{
    display: block;
    height: 40px;
    width: 120px;
    float: left;
    background-image: url("../images/chinasunhealth_logo.png");
    background-size: 120px 40px;
    background-position: center;
    background-repeat: no-repeat;
}
.nav-div{
    margin-left: 30px;
    float: right;
    height: 64px;
}
.mini .nav-div{
    height: 54px;
}
.nav-div a{
    height: 44px;
    line-height: 44px;
    min-width: 70px;
    text-align: center;
    display: inline-block;
    float: left;
    text-decoration: none;
    color: #666;
    margin-left: 50px;
    font-size: 16px;
    overflow: hidden;
    transition: all .3s ease-out 0s;
}
.nav-div a:hover, .nav-div > a:hover > span:after{
    color: red;
}
.nav-div a.active{
    color: red !important;
}
.nav-div > a > span{
    display: inline-block;
    position: relative;
    transition: all ease-out .3s;
}
.nav-div > a > span:after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    content: attr(data-title);
    transform: translateY(100%);
    color: #333;
}
.nav-div > a:hover > span{
    transform: translateY(-100%)
}
.nav-div > a.router-link-active:hover > span{
    transform: translateY(0)
}
.nav-div > a:nth-child(3){
    width: 110px;
    margin-left: 40px;
    margin-right: -10px;
}
/* header end */

/* category */
.category-nav{border-top:1px solid #ddd;margin-bottom: 20px;}
.category-nav-ul li{float: left;text-decoration: none;height: 70px;line-height: 70px;cursor: pointer;margin-right: 40px;color: #666;border-top: 2px solid #fff;}
.category-nav-ul li.cur{color: #ea1b23;border-top-color: #ea1b23;}
.category-nav-ul li span:hover{color: #ea1b23;}
.page-con-wrap{padding-top:84px;}
/* category end */

/* pagination */

/* pagination end */

/*  footer */
.left-con, .right-con{width: 50%;float: left;}
.link-div{margin-bottom: 50px;}
.link-div li{display: inline-block;width: 24%;}
.link-div li a{text-decoration: none;text-align: left;font-size: 12px;}
.footer-other p, .telephone p{line-height: 2;color: #333;}
.telephone{position: relative;top: -5px;}
.qr-code, .telephone{float: left;margin-left: 25%;}
.qr-code .img{display: inline-block;height: 90px;width: 75px;background-image: url("../images/qrcode_gzh.png");background-repeat: no-repeat;}
.fs-telephone{font-size: 25px;}
.telephone p{margin-top: 0;}
.footer{padding: 40px 0;border-top:1px solid #ddd}
.footer:after, .footer:before{content: '';display: block;}
.footer:after, .footer:before{clear: both;}
/*  footer end */

/* common banner */
.common-banner{
    display: block;
    height: 260px;
    width: 100%;
    background-position: center;
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.news-page .common-banner{
    background-image: url("../images/news_page_banner.jpg");
}
.products-page .common-banner{
    background-image: url("../images/products_banner.jpg");
}
.recruit-page .common-banner{
    background-image: url("../images/recruit_banner.jpg");
}
.about-page .common-banner{
    background-image: url("../images/about_banner.jpg");
}
.news-crumbs{
    width: 100%;
    height: 85px;
}
.crumbs-p{
    position: relative;
    top: 30px;
}
.data-loading{
    height: 100%;
    min-height: 300px;
    background: url("../images/loading.gif") no-repeat center;
}
/* common banner end */

/* pagination */
.pagination{
    overflow: hidden;
    display: table;
    margin: 0 auto;
    height: 50px;
}
.pagination a{
    float: left;
    height: 40px;
    border-radius: 0;
    margin: 3px;
    color: #666;

    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    border-radius: 0;
    text-decoration: none
}
.pagination a:hover, .pagination a.active{
    background: #ea1b23;
    color: #fff;
}
/* pagination end */

/* ----------------------- 首页 ----------------------- */
.home-flo1{
    width: 100%;
}
.home-flo1 .swiper-container{
    width: 100%;
}
.home-flo1 .swiper-button-prev, .home-flo1 .swiper-button-next{
    height: 60px;
    width: 60px;
    margin-top: -30px;
    background-size: 17px 29px;
    background-position: center center;
    background-color: rgba(0,0,0,.5);
}
.home-flo1 .swiper-button-prev{
    left: 0;
    background-image: url("../images/left_arrow_homepage.png");
}
.home-flo1 .swiper-button-next{
    right: 0;
    background-image: url("../images/right_arrow_homepage.png");
}

.home-flo1 .swiper-pagination-bullet{
    width: 60px !important;
    height: 5px !important;
    border-radius: 0 !important;
}
.home-flo1 .swiper-pagination-bullet-active{
    background-color: #ffffff;
}
.home-flo1 .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 20px;
}
.home-flo1 .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 18px;
}
.home-flo2{
    width: 100%;
    background-color: #fff;
    padding:80px 0 100px 0;
}
.flo2-item{
    display: inline-block;
    width: 23%;
    margin: 0 1% 1% 0;
    text-align: center;
}
.flo2-item img{
    max-width: 100%;
}
.flo-title{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 15px;
}
.flo-title2{
    font-size: 18px;
    font-weight: normal;
    color: #333;
}
.center{
    text-align: center;
}
@media screen and (max-width: 800px){
    .flo2-item {
        width: 45%;
    }
}
.home-flo3{
    width: 100%;
    background-image: url("../images/flo3_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding:80px 0 100px 0;
    height: 600px;
}
.flo3-left{
    width: 370px;
    float: left;
    display: inline-block;
}
.home-flo3 .l-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
}
.flo3-right-img-wrap{
    width: 645px;
    height: 290px;
    position: absolute;
    right: 100px;
    top: 70px;
    z-index: 20;
}
.flo3-right-img-wrap p{
    text-align: right;
    color: white;
}
.flo3-right-img-wrap img{
    max-width: 100%;
}
.flo3-right-squire{
    width: 450px;
    height: 400px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: #ea1b23;
}
[class^="home-flo"]:after, [class*=" home-flo"]:after, [class^="home-flo"]:after, [class*=" home-flo"]:before{
    content: '';
    display: block;
}
[class^="home-flo"]:after, [class*=" home-flo"]:after{
    clear: both;
}
.home-flo4{
    width: 100%;
    background-image: url("../images/flo4_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding:80px 0 100px 0;
    height: 600px;
}
.home-flo4 .r-info{
    position: absolute;
    top: 0;
    right: 0;
    width: 370px;
    text-align: right;
}
.flo4-con{
    height: 100%;
}
.flo4-con-text{
    position: absolute;
    top: 50%;
    left: 0;
    margin-top:-10px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #ea1b23;
    font-weight: normal;
    letter-spacing: 50px;
}
.home-flo5{
    width: 100%;
    background-image: url("../images/flo5_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding:80px 0 100px 0;
    height: 600px;
}
.flo5-con{
    position: absolute;
    top: 0;
    left: 0;
    width: 930px;
    z-index: 20;
}
.bx-wrapper{
    position: relative;
    max-width: 930px;
    margin: 0 auto;
}
.bx-viewport{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 420px;
}
.content_list{
    position: relative;
    transition: all .6s;
}
.item_block{
    cursor: pointer;
    animation-delay: 0s;
    float: left;
    list-style: none;
    position: relative;
    width: 930px;
    visibility: visible;
    animation-name: fadeInUp;
}
.item_div_wrapper{
    margin-top: 25px;
}
.item_img{
    width: 450px;
    float: left;
    margin: 0;
    position: relative;
}
.item_img img{
    max-width: 100%;
    display: block;
}
.item_wrapper{
    width: 390px;
    float: left;
    margin-left: 40px;
    margin-top: 25px;
}
.item_info{
    position: relative;
}
.item_info:after{
    content: '';
    width: 30px;
    height: 1px;
    background-color: #aaa;
    position: absolute;
    top: 15px;
    left: -40px;
    z-index: 3;
}
.flo5-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 240px;
}
.fa-angle-top{
    display: inline-block;
    height: 17px;
    width: 29px;
    background-image: url("../images/arrow_top_tese_deep.png");
    background-repeat: no-repeat;
    background-size: 29px 17px;
    background-position: center;
    margin-top: 30px;
}
.fa-angle-bottom{
    display: inline-block;
    height: 17px;
    width: 29px;
    background-image: url("../images/arrow_bottom_tese_deep.png");
    background-repeat: no-repeat;
    background-size: 29px 17px;
    background-position: center;
    margin-top: 30px;
}
.bx-prev.disabled, .bx-next.disabled, .bx-prev.disabled:hover, .bx-next.disabled:hover{
    background: rgba(255,255,255,0.4);
}
.btn-wrapper{

}
.bx-btn-ul-wrap{
    height: 240px;
    width: 100%;
    overflow: hidden;
}
.bx-btn-ul{
    height: 100%;
    width: 100%;
    padding: 0;
    transition: all .6s;
}
.bx-prev, .bx-next, .bx-btn-ul li{
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    display: block;
    background: rgba(255,255,255,0.4);
    cursor: pointer;
    box-sizing:border-box;
    transition: all .3s;
}
.bx-prev:hover, .bx-next:hover{
    background-color: #ea1b23;
    opacity: 1;
}
.bx-prev:hover i, .bx-prev.disabled i{
    background-image: url("../images/arrow_top_tese.png");
}
.bx-next:hover i, .bx-next.disabled i{
    background-image: url("../images/arrow_bottom_tese.png");
}
.bx-btn-ul li{
    color: #666;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255,255,255,.3);
    font-size: 18px;
}
.bx-btn-ul li.cur{
    color: #333;
    background-color: white;
    opacity: 1;
    border: 1px solid #ddd;
}
.bx-btn-ul li:hover{
    color: #333;
}
.home-flo6{
    width: 100%;
    background-image: url("../images/flo6_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding:80px 0 100px 0;
    height: 600px;
}
.flo6-con{
    position: absolute;
    left: 50px;
    top: 20px;
}
.section-l-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    text-align: left;
}
.home-flo6 .r-info{
    position: absolute;
    top: 0;
    right: 0;
    width: 370px;
    text-align: right;
}
.flo-desc{
    line-height: 1.5;
}
.flo-lt-desc .flo-title{
    margin-bottom: 10px;
}
.home-flo7{
    width: 100%;
    padding:80px 0 35px 0;
    height: 620px;
    background-image: url("../images/flo7_bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.home-flo7-container{
    height: auto;
}
.home-flo7 .swiper-button-prev, .home-flo7 .swiper-button-next{
    height: 106px;
    width: 86px;
    margin-top: -53px;
    background-color: #ebeaea;
    background-size: 17px 29px;
    background-position: center center;
    background-repeat: no-repeat;
}
.home-flo7 .swiper-button-prev{
    background-image: url("../images/left_arrow_homepage_deep.png");
}
.home-flo7 .swiper-button-next{
    background-image: url("../images/right_arrow_homepage_deep.png");
}
.home-flo7 .swiper-button-prev.swiper-button-disabled{
    background-image: url("../images/left_arrow_homepage.png");
}
.home-flo7 .swiper-button-next.swiper-button-disabled{
    background-image: url("../images/right_arrow_homepage.png");
}
.home-flo7 .swiper-button-prev.swiper-button-disabled:hover, .home-flo7 .swiper-button-next.swiper-button-disabled:hover{
    background-color: #ebeaea;
}
.home-flo7 .swiper-button-prev:hover{
    background-color: #ea1b23;
    background-image: url("../images/left_arrow_homepage.png");
}
.home-flo7 .swiper-button-next:hover{
    background-color: #ea1b23;
    background-image: url("../images/right_arrow_homepage.png");
}
.swiper-all-wrap{
    position: relative;
    width: 1370px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 100px;
    margin-top: 100px;
}
.home-flo7 .swiper-slide{
    position: relative;
    display: block;
    background-color: white;
    align-items: center;
}
.home-flo7 .swiper-slide .top-block{
    width: 100%;
    height: 70%;
    overflow: hidden;
}
.home-flo7 .swiper-slide img{
    width: 100%;
}
.home-flo7 .bottom-block{
    padding: 12% 5%;
    height: 30%;
}
.home-flo7 .bottom-block .title{
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}
.home-flo7 .bottom-block .desc{
    font-size: 12px;
    color: #999;
}

/* ----------------------- 新闻 ----------------------- */
.news-item{
    position: relative;
    background-color: white;
    padding: 30px 0 60px 0;
    border-bottom: 1px solid #ddd;
    transition: all .3s;
}
.news-item:hover{
    background-color: #ea1b23;
    border-bottom-color: #ea1b23;
    color: white;
}
.news-item .container{
    transition: all .4s;
}
.news-item:hover .container{
    transform: translateX(-40px);
}
.left-date-wrap{
    width: 290px;
    float: left;
    text-align: right;
}
.right-control{
    width: 20px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
    background-image:url("../images/arrow-right.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transition: all .4s;
}
.news-item:hover .right-control{
    transform: translateX(60px);
}
.center-news-div{
    padding: 7px 150px 0 340px;
}
.left-date-wrap .big{
    font-size: 50px;
    font-weight: normal;
    color: #999;
}
.left-date-wrap .small{
    font-size: 16px;
    font-weight: normal;
    color: #999;
}
.news-title{
    display: block;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 1.4;
}
.news-item:hover .news-title, .news-item:hover .news-desc, .news-item:hover .left-date-wrap > div{
    color: white !important;
}
.pagination-section{
    padding: 130px 0;
}
/* ----------------------- 新闻详情 ----------------------- */
.news-detail-header{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 65px;
}
.news-detail-title{
    font-size: 20px;
    margin-bottom: 20px;
}
.data-loading{
    min-height: 300px;
}

/* ----------------------- 产品 ----------------------- */
.products-item{
    position: relative;
    width: 30%;
    margin: 0 3% 3% 0;
    display: inline-block;
    cursor: pointer;
}
.products-img{
    width: 100%;
    overflow: hidden;
}
.products-item .products-img img{
    transition: all .6s;
}
.products-item:hover .products-img img{
    transform: scale(1.2);
}
.products-img img{
    width: 100%;
}
.products-block{
    background-color: white;
    position: relative;
    transition-property: background-color, color;
    transition-duration: .3s;
}
.products-item:hover .products-block{
    color: white;
    background-color: #ea1b23;
}
.products-info{
    padding: 20px 0 20px 0;
    transition: transform .6s;
}
.products-item:hover .products-info{
    transform: translateX(25px);
}
.products-info .title{
    font-size: 16px;
    margin-bottom: 12px;
}
.products-arrow{
    width: 20px;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 12%;
    margin-top: -15px;
    background-image:url("../../images/arrow-right.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    transition: transform .6s;
}
.products-item:hover .products-arrow{
    transform: translateX(25px);
}

/* ----------------------- 产品详情 ----------------------- */
.products-item-img-div img{
    display: block;
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
/* ----------------------- 招聘 ----------------------- */
.recruit-list-section{
    margin-bottom: 200px;
}
.recruit-header-nav{
    border-bottom: 1px solid #ddd;
    padding: 0 25px;
}
.recruit-header-nav > div{
    float: left;
    width: 25%;
    height: 80px;
    line-height: 80px;
    color: #666;
    font-size: 16px;
}
.recruit-dl{
    border-bottom: 1px solid #ddd;
}
.recruit-dl.cur{
    border-bottom: none;
}
.recruit-dt{
    padding: 0 25px;
    position: relative;
    color: #333;
    font-size: 16px;
    height: 85px;
    line-height: 85px;
}
.recruit-dt .dt-cell{
    float: left;
    width: 25%;
}
.recruit-header-nav > div{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    color: #999;
}
.recruit-header-nav > div, .recruit-dt .dt-cell{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.dt-close{
    position: absolute;
    top: 30px;
    right: 40px;
    width: 20px;
    height: 20px;
    display: none;
    background: url(../images/close_btn.png) no-repeat;
    background-size:100% 100%;
    cursor: pointer;
}
.dt-close:hover{
    opacity: .7;
    filter:Alpha(opacity=70)
}
.cur .dt-close{
    display: block;
}
.cur .recruit-dt{
    background-color: #ea1b23;
    color: white !important;
}
.recruit-dd{
    display: none;
    overflow: hidden;
}
.cur .recruit-dd{
    /*display: block;*/
    height: auto;
}
.recruit-dd-div{
    border-width:0 2px 2px 2px;
    border-color: #ea1b23;
    border-style: solid;
    padding: 50px 80px 60px 50px;
    color: #333;
    font-size: 16px;
    transition: all 1s;
}
.recruit-dd-div .dd-cont-cell{
    width: 30%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}


.recruit-desc{
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    color: #333 !important;
}
.recruit-desc p{
    padding-left: 0;
    padding-right: 0;
    color: #333 !important;
}
.apply-job{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
}
.pagination-section{
    padding: 130px 0;
}
/* ----------------------- 关于 ----------------------- */
.about-con{
    margin-top: 30px;
}
.about-section1, .about-section2, .about-section3, .about-section4{
    margin-bottom: 50px;
}
.title-wrap{
    margin-bottom: 20px;
}
.title-wrap .flo-title{
    font-size: 22px;
    font-weight: normal;
}
.about-company-section-img{
    position: relative;
    float: left;
}
.about-company-section{
    padding-left: 600px;
    min-height: 260px;
    padding-top: 25px;
    padding-bottom: 110px;
    border-bottom: 1px solid #ddd;
}